# Dependencies
/node_modules
/dist
/build

# Environment Variables and Secrets
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs and other OS/Editor files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.sublime-project
*.sublime-workspace
.vscode/

# Package Lock files (if you only use one package manager)
# Remove the one you are NOT using:
package-lock.json
# yarn.lock
# pnpm-lock.yaml